<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<table class="table">
		<thead class="table-dark">
			<tr>
				<th>번호</th>
				<th>영화 제목</th>
			</tr>		
		</thead>
		<tbody>
			<tr th:each="movie, loop : ${movieList}">
				<td th:text="${loop.count}"></td>
				<td>
					<a th:href="@{|/movie/detail/${movie.id}|}" th:text="${movie.title}"></a>
				</td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/movie/create}" class="btn btn-primary">영화 등록하기</a>
	<a th:href="@{/director/create}" class="btn btn-primary">감독 등록하기</a>
</div>
</html>